OOB read in key generation for encrypted headers with GCM

According to [RFC 7714 section 8.3](https://tools.ietf.org/html/rfc7714#section-8.3) GCM ciphers must use their corresponding Counter Mode ciphers for header encryption (i.e. AES-256-GCM uses AES-256-CM).

This is a problem in the current implementation because the salt of the CM cipher is 16 bits larger than the salt of the GCM cipher (e.g. AES-256-GCM uses a 256-bit key with a 96-bit salt, AES-256-CM uses a 256-bit key with a 112-bit salt).

The OOB happens where the CM key+salt are copied from the GCM key+salt:
https://github.com/cisco/libsrtp/blob/5f1642c36731b7199ba34b79676b4c02cd4142c9/srtp/srtp.c#L1010
(`rtp_xtn_hdr_base_key_len` is the size of the GCM/CM key, `rtp_xtn_hdr_salt_len` is the size of the CM salt, but `key` only contains the key+salt of the GCM cipher).
To verify, access the last byte read from `key` at that position and run in some memory checker like https://clang.llvm.org/docs/MemorySanitizer.html).

I would like to submit a PR to fix this, but I'm wondering what the correct solution is. I'm assuming it's the same as described in the errata by @paulej at https://www.rfc-editor.org/errata_search.php?rfc=7714 and the salt should be multiplied by 2^16.

@JonathanLennox you provided feedback in that area on my initial implementation in #128, do you know what the right behaviour should be?

I think this is right. 

We should probably file another 7714 errata specifying it, though.

Agreed that I think that we should do this.  Do we need another errata, though?  What did I not cover?

Ah, no, you're right, the existing errata should apply to all the KDF instances, including the header extension one.